<h3 class="my-3">Employee List</h3>
<div class="row border-bottom d-none d-md-flex">
    <div class="col-2">
        Name
    </div>
    <div class="col-2">
        Phone 1
    </div>
    <div class="col-2">
        Phone 2
    </div>
    <div class="col-1">
        Ext.
    </div>
    <div class="col-3">
        Title
    </div>
    <div class="cold-2">
        &nbsp;
    </div>
</div>

@code {

}
